<!DOCTYPE html>
<html lang="fr">
    <head>
        {% try %}
            {% include header ~ '.twig' %}
        {% catch %}
            {# Template non trouvé, ne rien faire ou utilisez un template par défaut #}
        {% endtry %}
    </head>
  <body>
    {% try %}
        {% include banner ~ '.twig' %}
    {% catch %}
        {# Template non trouvé, ne rien faire ou utilisez un template par défaut #}
    {% endtry %}

    <div class="field">
        {% try %}
            {% include sidebar-left ~ '.twig' %}
        {% catch %}
            {# Template non trouvé, ne rien faire ou utilisez un template par défaut #}
        {% endtry %}
        {% try %}
            {% include content ~ '.twig' %}
        {% catch %}
            {# Template non trouvé, ne rien faire ou utilisez un template par défaut #}
        {% endtry %}
        {% try %}
            {% include sidebar-right ~ '.twig' %}
        {% catch %}
            {# Template non trouvé, ne rien faire ou utilisez un template par défaut #}
        {% endtry %}
    </div>
    </body>
</html>
{% try %}
    {% include footer ~ '.twig' %}
{% catch %}
    {# Template non trouvé, ne rien faire ou utilisez un template par défaut #}
{% endtry %}
