<div class="title">
    <div class="banner-content">
        <h1>{{ SITE_LONG_NAME }}</h1>
        <div class="subtitle">{{ SUBTITLE|raw }}</div>
    </div>
    <div class="title-icon">
        <img src="{{ WEB_ASSETS }}/img/index/bused.png" alt="Logo"/>
    </div>
</div>