:root {
    --nb-quart-heure: 23;
}

#timeline {
    display: flex;
    font-size: 1em;
    max-width: 100%;
    width: 100%;
    font-size: small;
    justify-content: space-between;
    cursor: default;
}

.cie__title {
    padding-top: 5px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    color: white;
    box-shadow: 0 1px 1px black;
    padding-bottom: 5px;
    width: 100%;
    height: 1.2em;
}

.cie__btn {
    display: flex;
    margin-left: 10px;
}

.cie__btn i {
    margin-left: 10px;
}

.column {
    flex: 1;
}

.cie__blk {
    width: 99%;
    margin-bottom: 2px;
    margin-left: 2px;
}

.cie__pam {
    font-style: italic;
    font-weight: bold;
}

.cie__pam i {
    margin-right: 5px;
}

.cie__content {
    padding: 2px;
    color: black;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 1px 16px black;
    cursor: default;
    display: grid;
    row-gap: 2px;
}

.line__even {
    background: rgb(223, 224, 225);
}

.line__odd {
    background: rgb(243, 244, 245);
}

.timeline__grid {
    display: grid;
    grid-template-columns: repeat(var(--nb-quart-heure), 1fr);
    row-gap: 0px;
    margin-right: 5px;
    width: 100%;
    column-gap: 2px;
    height: 36px;
}

.timeline__block {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    z-index: 100;
    padding-right: 0;
    margin: 0;
    margin-bottom: 2px;
    margin-top: 1px;
    border-radius: 5px;
    min-height: 3px;
}

.timeline__block * {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    overflow: hidden;
    text-overflow: clip;
}

.timeline__block-content {
    width: 100%;
    height: 100%;
    font-size: small;
    border-radius: 5px;
}

.timeline__block-tph {
    text-overflow: clip;
    white-space: nowrap;
}

.timeline__block-tph i {
    margin-left: 10px;
}

.timeline__block-service {
    margin-right: 5px;
    margin-left: 5px;
    min-width: fit-content;
}

.timeline__redbar {
    width: 2px;
    background-color: red;
    position: absolute;
    z-index: 99;
}

.grid_hours {
    text-align: left;
    margin-left: -13px;
    cursor: default;
}

.tm-content {
    cursor: default;
}

.bulle__content {
    display: flex;
}


.bulle__services * {
    align-self: center;
    font-weight: normal;
}


.bulle__services-name {
    font-size: 16px;
    text-align: center;
    width: -moz-available;
    font-weight: bold;
}

.bulle__horaires {
    margin-bottom: 5px;
    font-variant: normal;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 5px;
    position: relative;
}

.bulle__user-line {
    display: flex;
    min-width: 300px !important;
    width: 100%;
    justify-content: space-between;
    font-weight: normal;
    position: relative;
    /* Nécessaire pour positionner l'élément ::after par rapport à l'élément parent */
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;

}


.bulle__horaires::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Place le point de départ au milieu */
    transform: translateX(-50%);
    /* Ramène la ligne au milieu */
    width: 80%;
    /* Applique la largeur du border à 50% */
    border-bottom: 1px solid #aaaaaa;
    /* Style du border */
}

.bulle__user-line:last-child::after {
    border-bottom: none;
    /* Retire le border-bottom pour le dernier div */
}

.bulle__user-name {
    align-self: center;
    font-weight: bold;
    flex: 2;
}

.bulle__user-info {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bulle__user-tph,
.bulle__user-rubis {
    text-align: right;
    padding-bottom: 3px;
    padding-top: 3px;
}

.bulle__user-tph i,
.bulle__user-rubis i {
    margin-right: 5px
}

.bulle__services {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 0px;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    font-weight: normal;
    width: 500px;
}

.bulle__memo {
    position: relative;
}

.bulle__memo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    /* Place le point de départ au milieu */
    transform: translateX(-50%);
    /* Ramène la ligne au milieu */
    width: 80%;
    /* Applique la largeur du border à 50% */
    border-top: 1px solid #aaaaaa;
    /* Style du border */
}



.bulle__memo-title {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid white;
    font-variant: small-caps;
    font-weight: bold;
    font-style: none;
}

.bulle__memo-content {
    font-weight: normal;
}



.modal__window {
    position: fixed;
    background: rgba(50, 50, 50, 1);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    border-radius: 5px;
}

.modal__title,
.modal__pam {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 5px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin: 15px;
    justify-content: space-between;
}



.modal__user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
}



.modal__user-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    min-width: 100%;
    gap: 35px;
}

.modal__user-line label {
    margin-right: 10px;
}


.modal__user-line *,
.modal__service *,
.modal__memo * {
    align-self: center;
}

.modal__date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5px;
}

.modal__date label {
    align-self: center;
    font-weight: bold;
    font-variant: small-caps;
}



.modal__memo {
    border: none;
}

.modal__memo textarea {
    width: 300px;
    height: 50px;
}

#modal-overlay {
    width: 100%;
    height: 100%;
    background: gray;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 9999;
}

.jscolor-wrap {
    z-index: 10001 !important;
}

.modal__delete {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid white;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(184, 78, 78);
    cursor: default
}

.modal__memo-title {
    text-align: left;
}

#scale-bar-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
    display: block;
}


.glass-timeline {
    box-shadow: rgba(255, 255, 255, 0.3) -20px -20px 45px inset, rgba(0, 0, 0, 0.5) 10px 10px 20px, rgba(0, 0, 0, 0) 5px 5px 10px;
}

.glass-unit-pam {
    box-shadow: rgba(255, 255, 255, 0.1) -10px -10px 20px inset,
        /* Ombre interne adoucie */
        rgba(0, 0, 0, 0.3) 5px 5px 15px,
        /* Ombre externe plus douce */
        rgba(0, 0, 0, 0.1) 0px 0px 5px;
    /* Ombre externe plus subtile */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Bordure douce autour */
    backdrop-filter: blur(10px);
    /* Effet de flou de fond */
}

.color-preview.glass,
.nv-color-picker.glass canvas,
.nv-color-picker.glass .nv-color-preset {
    background-image: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(6px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
        rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}

.grp_line_grid {
    display: grid;
    grid-template-columns: 111px 1fr;
    /* Première colonne fixe, deuxième colonne flexible */
    /* Espacement optionnel entre les éléments */
}

.grp_line_grid.line_grid {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 0;
}

.grp_line_grid.line_grid .line_bp {
    grid-template-columns: 155px 1fr;
}

.cob__name {
    grid-column: 1;
    /* Colonne 1 */
    grid-row: 1 / 1000;
    /* Occupe toujours 2 lignes */
    display: flex;
    /* Utilisation de flexbox pour centrer le contenu */
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement */
    text-align: center;
    /* Centrer le texte */
    background-color: #153742;
    /* Couleur de fond pour visualisation */
    color: white;
    border-radius: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.line_bp {
    grid-column: 2;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 125px 155px auto;
    padding-bottom: 1px;
    padding-top: 1px;
}

.bp__name,
.unit__name {
    background: #153742;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    margin-left: 1px;
}

.bp__name-label,
.unit__name-label {
    align-self: center;
}


.pam__tph {

    background: #153742;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.pam__tph-value {
    text-align: center;
}

.timeline__grid {
    margin-left: 2px;
}

.cie__title-grid {
    display: grid;
    grid-template-columns: 80px 147px 156px 1fr;
}

.cie__title .pam__tph {
    background: none;
}

.cie__title .cie__name {
    text-align: center;
    height: 100%;
    align-self: center;
    color: white;
    border-radius: 5px;

    font-variant: small-caps;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.switch-glass::after {
    width: 12px;
    height: 12px;
}

.switch-glass::before {
    height: 18px;
    width: 45px;
}

.switch-glass {
    margin-top: -2px;
    padding-left: 0;
}

.switch-input:checked+.switch-glass::after {
    background: white;
}